{% extends 'cube/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex text-center align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800  ">Dashboard</h1>
            <a href="{% url 'add_note' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus fa-sm text-white-50"></i> Add note</a>
        </div>
        <!--cards-->
        <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    <h4><b>EXAM-5</b></h4>
                    <div class="col">

                        <!-- Earnings (Monthly) dragdiv Card Example -->
                        <div id="order-left" class="dragcols" color="success">
                            <!--<div class="list-group-item">-->
                            <div class="col-auto my-2">
                                <div class="card border-left-success shadow h-100 ">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="h3 text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Data Science
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">20 Oct</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto my-2">
                                <div class="card border-left-success shadow h-100 ">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Artificial Intelligence
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">22 Oct</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto my-2">
                                <div class="card border-left-success shadow h-100 ">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Machine Learning
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">25 Oct</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto my-2">
                                <div class="card border-left-success shadow h-100 ">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Networking
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">27 Oct</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto my-2">
                                <div class="card border-left-success shadow h-100 ">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Operating System
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">29 Oct</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--</div>-->

                        </div>

                    </div>
                </div>
                <div class="col-sm text-center">
                    <h4><b>LABORATORY-3</b></h4>
                    <div class="col">
                        <!-- Earnings (Monthly) Card Example -->
                        <div id="order-right" class="dragcols" color="danger">
                            <div class="col-auto">
                                <div class="card border-left-danger shadow h-100 ">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                    OOPS
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">21 Oct</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-auto my-2">
                                <div class="card border-left-danger shadow h-100">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                    ROBOTICS
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">24 Oct</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto my-2">
                                <div class="card border-left-danger shadow h-100">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                    CLOUD COMPUTING
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">28 Oct</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm text-center">
                    <h4><b>MINI PROJECT-4</b></h4>
                    <div class="col">
                        <!-- Earnings (Monthly) Card Example -->
                        <div id="order-right" class="dragcols" color="info">
                            <div class="col-auto">
                                <div class="card border-left-info shadow h-100">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    Face Recognition
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-info"
                                                             role="progressbar" style="width: 75%" aria-valuenow="50"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-auto my-2">
                                <div class="card border-left-info shadow h-100">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    AI SuperVision
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-info"
                                                             role="progressbar" style="width: 55%" aria-valuenow="50"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto my-2">
                                <div class="card border-left-info shadow h-100">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    Blind Assistance
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-info"
                                                             role="progressbar" style="width: 90%" aria-valuenow="50"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto my-2">
                                <div class="card border-left-info shadow h-100">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    Sentimental Analysis
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-info"
                                                             role="progressbar" style="width: 30%" aria-valuenow="50"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm text-center">
                    <h4><b>RESULTS</b></h4>
                    <div class="col">
                        <!-- Earnings (Monthly) Card Example -->
                        <div id="order-right" class="dragcols" color="primary">
                            <div class="col-auto">
                                <div class="card border-left-primary shadow h-100">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    EXAM RESULT
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped"
                                                             role="progressbar" style="width: 80%" aria-valuenow="10"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-auto my-2">
                                <div class="card border-left-primary shadow h-100">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    LAB RESULT
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped"
                                                             role="progressbar" style="width: 90%" aria-valuenow="10"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <h4 style="text-align: center; color: #1e347b; font-family: 'Comic Sans MS';font-size: xx-large"><b>Recent
                Notes</b></h4>
            <div class="col">
                <div class="col">
                    <div id="order-left" class="dragcols" color="danger">
                        {% for note in curr_notes %}
                            <div class="col my-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center"><b>{{ note.title }}</b></h5>
                                        <hr>
                                        <div style="width: 100%;display: flex;justify-content: space-between;">
                                            <div class="row">
                                                <div class="col text-center mt-1">
                                                    Tags:
                                                </div>
                                                <div id="button_holder{{ forloop.counter }}">

                                                </div>
                                                <p id="all_tags{{ forloop.counter }}">{{ note.tags }}</p>
                                            </div>
                                            <div>
                                                <a type="button" class="btn btn-danger "
                                                   href="{% url 'delete_note' note_id=note.pk %}">
                                                    Delete
                                                </a>
                                                <a type="button" class="btn btn-success "
                                                   href="{% url 'view_note' note_id=note.pk %}">
                                                    View
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <!-- Page level plugins -->
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script>
            var elements = document.getElementsByClassName("dragcols");
            for (var i = 0; i < elements.length; i++) {
                new Sortable(elements[i], {
                    animation: 150,
                    ghostClass: elements[i].color,
                });
            }
            for(var ctr = 1 ; ctr <= {{ curr_notes|length }} ; ctr++){
                var tags = document.getElementById("all_tags"+ctr);
                var tags_arr = tags.innerHTML.split(",");
                for(var i = 0 ; i < tags_arr.length ; i++){
                    var btn = document.createElement("button");
                    btn.innerHTML = tags_arr[i];
                    btn.className = "badge bg-warning mx-1";
                    document.getElementById("button_holder"+ctr).appendChild(btn);
                }
                tags.remove();
            }
        </script>

    </div>
{% endblock %}