{% extends 'cube/base.html' %}
{% block content %}
    <style>
        body {
            background-color: #f2f6fc;
            color: #69707a;
        }

        .img-account-profile {
            height: 10rem;
        }

        .rounded-circle {
            border-radius: 50% !important;
        }

        .card {
            box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
        }

        .card .card-header {
            font-weight: 500;
        }

        .card-header:first-child {
            border-radius: 0.35rem 0.35rem 0 0;
        }

        .card-header {
            padding: 1rem 1.35rem;
            margin-bottom: 0;
            background-color: rgba(33, 40, 50, 0.03);
            border-bottom: 1px solid rgba(33, 40, 50, 0.125);
        }

        .form-control, .dataTable-input {
            display: block;
            width: 100%;
            padding: 0.875rem 1.125rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1;
            color: #69707a;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #c5ccd6;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.35rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .nav-borders .nav-link.active {
            color: #0061f2;
            border-bottom-color: #0061f2;
        }

        .nav-borders .nav-link {
            color: #69707a;
            border-bottom-width: 0.125rem;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0;
            padding-right: 0;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        #file_upload {
            position: relative;
            overflow: hidden;
        }

        #image_upload {
            position: absolute;
            font-size: 50px;
            opacity: 0;
            right: 0;
            top: 0;
        }
    </style>
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <!--nav class="nav nav-borders">
            <a class="nav-link active ms-0"
               href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details"
               target="__blank">Profile</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page" target="__blank">Billing</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">Security</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"
               target="__blank">Notifications</a>
        </nav-->
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        {% if curr_userobj.profile_pic %}
                            <img class="img-account-profile rounded-circle mb-2"
                                 src="{{ curr_userobj.profile_pic.url }}"
                                 alt="Profile Picture"/>
                        {% else %}
                            <img class="img-account-profile rounded-circle mb-2"
                                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/640px-Anonymous_emblem.svg.png"
                                 alt="">
                        {% endif %}


                        <div class="small font-italic text-muted mb-4" style="font-size: larger">
                            <b>{{ request.user.username }}</b></div>

                        <form method="post" enctype="multipart/form-data" id="profile_pic">
                            {% csrf_token %}

                            <div class="file btn btn-lg btn-primary" id="file_upload" type="submit">

                                <input type="file" id="image_upload" name="profile_photo">
                                Upload
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
                    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script>
                $("#file_upload").change(function () {
                    var form = document.getElementById('profile_pic');
                    console.log("ok");
                    console.log(form);
                    form.submit();
                });
            </script>
            <div class="col-xl-8">

                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input name="first_name" class="form-control" id="inputFirstName" type="text"
                                           placeholder="Enter your first name" value="{{ curr_userobj.first_name }}">
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input name="last_name" class="form-control" id="inputLastName" type="text"
                                           placeholder="Enter your last name" value="{{ curr_userobj.last_name }}">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input name="email" class="form-control" id="inputEmailAddress" type="email"
                                       placeholder="Enter your email address" value="{{ curr_userobj.email }}">
                            </div>

                            <div class="row gx-3 mb-3">

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input name="phone" class="form-control" id="inputPhone" type="tel"
                                           placeholder="Enter your phone number"
                                           value="{{ curr_userobj.contact_number }}">
                                </div>

                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Address</label>
                                <textarea name="address" class="form-control" id="inputUsername" type="text-area"
                                          placeholder="Enter your username">{{ curr_userobj.address }}</textarea>
                            </div>

                            <button class="btn btn-primary" type="submit">Save changes</button>
                            <a class="btn btn-danger" type="button" data-toggle="modal" data-target="#dlt">Delete
                                Account</a>
                        </form>
                        <div class="modal fade" id="dlt" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Select "Delete" below if you are want to delete your account
                                        this is irreversible.
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel
                                        </button>
                                        <button class="btn btn-danger" onclick="deleteAccount()">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function deleteAccount() {
            $.ajax({
                url: '',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type: 'post',
                success: function (data) {
                    window.location.href = "{% url 'logout' %}";
                },
                error: function (error) {

                }
            });
        }
    </script>
{% endblock %}